body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5FB4DE;
    padding: 10px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #183666;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

form button {
    background-color: #5FB4DE;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #183666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
